---
layout: layouts/base.njk
templateClass: tmpl-post
---

{% set css %}
  {% include "layouts/markdown.css" %}
{% endset %}
<style>
  {{ css | cssmin | safe }}
</style>

{% set prismcss %}
  {% include "layouts/prism.css" %}
{% endset %}
<style>
  {{ prismcss | cssmin | safe }}
</style>

<div class="post">
  <p class="time">
    <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
  </p>
  <h1>{{ title }}</h1>

  <div class="markdown-body">
    {{ content | safe }}

    <p class="contact-me">
      If you have any questions or corrections, please reach out to me on Twitter
      <a href="tps://www.twitter.com/kunal_modi" target="_blank">@kunal_modi</a>
    </p>
  </div>
</div>
