---
layout: layouts/home.njk
title: "Kunal's Blog"
description: "Posts and musings..."
---

<ul class="posts">
{% for post in collections.posts | reverse %}
  <li>
    <p>
      <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    </p>
    <h2><a href="{{ post.url | relativeUrl }}" class="postlist-link">{{ post.data.title }}</a></h2>
  </li>
{% endfor %}
</ul>
